In [2]:
using Gurobi,  DataFrames, JuMP, LinearAlgebra, Random, Pkg, CSV

In [3]:
his = CSV.read("/Users/bennetthellman/Desktop/OneDrive - Massachusetts Institute of Technology/AE/HWs/HW4/Dartboard_historical-1.csv", DataFrame, header=1);
fut = CSV.read("/Users/bennetthellman/Desktop/OneDrive - Massachusetts Institute of Technology/AE/HWs/HW4/Dartboard_future.csv.crdownload", DataFrame, header=1);
dc = CSV.read("/Users/bennetthellman/Desktop/OneDrive - Massachusetts Institute of Technology/AE/HWs/HW4/Dartboard_dcs.csv", DataFrame, header=1);

In [4]:
his[1:5,1:8]

5×12 DataFrame
 Row │ FIPS_Code  State.Name   County.Name       Latitude  Longitude  Year   W ⋯
     │ Int64      String       String            Float64   Float64    Int64  I ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │      9001  Connecticut  Fairfield County    41.244    -73.363   2012    ⋯
   2 │      9001  Connecticut  Fairfield County    41.244    -73.363   2012
   3 │      9001  Connecticut  Fairfield County    41.244    -73.363   2012
   4 │      9001  Connecticut  Fairfield County    41.244    -73.363   2012
   5 │      9001  Connecticut  Fairfield County    41.244    -73.363   2012    ⋯
                                                               6 columns omitted

In [10]:
his[1:5,8:12]

5×5 DataFrame
 Row │ Income     Population      Week_Num  Season  Sales
     │ Float64    Float64         Int64     Int64   Float64
─────┼─────────────────────────────────────────────────────────────
   1 │ 1.06943e5       9.33226e5         1       1       8.58471e5
   2 │ 1.06815e5  933351.0               2       1       8.16707e5
   3 │ 1.06686e5       9.33476e5         3       1  706033.0
   4 │ 1.06557e5       9.336e5           4       1       6.99396e5
   5 │ 1.06429e5       9.33725e5         5       2       6.58245e5

In [6]:
fut[1:5,1:8]

5×8 DataFrame
 Row │ FIPS_Code  State.Name   County.Name       Latitude  Longitude  Year   W ⋯
     │ Int64      String       String            Float64   Float64    Int64  I ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │      9001  Connecticut  Fairfield County    41.244    -73.363   2015    ⋯
   2 │      9001  Connecticut  Fairfield County    41.244    -73.363   2015
   3 │      9001  Connecticut  Fairfield County    41.244    -73.363   2015
   4 │      9001  Connecticut  Fairfield County    41.244    -73.363   2015
   5 │      9001  Connecticut  Fairfield County    41.244    -73.363   2015    ⋯
                                                               2 columns omitted

In [7]:
fut[1:5,8:11]

5×4 DataFrame
 Row │ Income     Population      Week_Num  Season
     │ Float64    Float64         Int64     Int64
─────┼─────────────────────────────────────────────
   1 │ 1.04926e5       9.48137e5       183       7
   2 │ 1.0496e5        9.48157e5       184       7
   3 │ 1.04993e5  948178.0             185       8
   4 │ 1.05027e5       9.48199e5       186       8
   5 │ 1.0506e5        9.48219e5       187       8

In [9]:
dc[1:5,:]

5×8 DataFrame
 Row │ Location    Status  Latitude  Longitude  Fixed_Cost  Variable_Cost  Cur ⋯
     │ String      Int64   Float64   Float64    Int64       Float64        Int ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Providence       1      41.8      -71.4           0            0.0      ⋯
   2 │ Richmond         1      37.5      -77.4           0            0.0
   3 │ Youngstown       1      41.1      -80.6           0            0.0
   4 │ Athens           0      39.3      -82.2    25000000           90.5
   5 │ Baltimore        0      39.3      -76.6    25000000          132.0      ⋯
                                                               2 columns omitted